version: 2.1

orbs:
  win: circleci/windows@5.0

jobs:
  build:
    docker:
      - image: cimg/node:18.8.0
    steps:
      - checkout
      - run: npm install
      - run: npm run build

  unit-test:
    docker:
      - image: cimg/node:18.8.0
    steps:
      - checkout
      - run: npm install
      - run: npm run test:unit

  integration-test:
    docker:
      - image: cimg/node:18.8.0

      - image: cimg/postgres:14.0
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
    steps:
      - checkout
      - run: npm install
      - run: npm run test:integration-pipeline

  integration-test-windows:
    executor:
      name: win/default
      shell: powershell.exe
    steps:
      - checkout
      - run: choco install wget -y
      - run:
          command: wget https://nodejs.org/dist/v16.17.0/node-v16.17.0-x86.msi -P C:\Users\circleci\Downloads\
          shell: cmd.exe
      - run: MsiExec.exe /i C:\Users\circleci\Downloads\node-v16.17.0-x86.msi /qn
      - run:
          command: |
            Start-Process powershell -verb runAs -Args "-start GeneralProfile"
            nvm install 16.17.0
            nvm use 16.17.0
      - run:
          command: echo "export PATH=${PATH}:/c/'Program Files'/PostgreSQL/14/bin" >> ~/.bashrc
          shell: bash.exe
      - run:
          command: wget https://get.enterprisedb.com/postgresql/postgresql-14.9-1-windows-x64.exe -P C:\Users\circleci\Downloads\
          shell: cmd.exe
      - run:
          command: C:\Users\circleci\Downloads\postgresql-14.9-1-windows-x64.exe --unattendedmodeui none --mode unattended
          shell: cmd.exe
      - run: npm install
      - run:
          command: npm run test:integration-pipeline
          shell: cmd.exe

workflows:
  test-workflow:
    jobs:
      - build
      - unit-test
      - integration-test
      - integration-test-windows